*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #d8d8d8;
  font-size: 10px;
}

h1 {
  font-size: 25px;
  color: #000000;
  text-align: center;
  line-height: 0.5em;
  font-family: sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
}

p {
  color: Black;
  font-size: 30px;
  font-family: serif;
  text-align: left;
  padding-left: 20%;
  padding-top: 10%
}

.container {
  margin: 20px auto;
  width: 100%
}

.nav {
  width: 100%;
  background-color: #d8d8d8;
  padding: 3%;
  margin: 4% auto;
}

div {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
}

.preview.baku {
  background-image: url("/images/baku.jpg");
  background-size: cover;
  height: 300px;
  width: 100%;
  margin: 0 0 2% 0
}

.preview.london {
  background-image: url("/images/london.png");
  background-size: cover;
  height: 300px;
  width: 100%;
  margin: 0 0 2% 0
}

.preview.madrid {
  background-image: url("/images/madrid.jpg");
  background-size: cover;
  height: 300px;
  width: 100%;
  margin: 0 0 2% 0
}

.preview.rome {
  background-image: url("/images/rome.jpg");
  background-size: cover;
  height: 300px;
  width: 100%;
  margin: 0 0 2% 0
}




/* code added to create two column design */

@media screen and (min width 575px){
  div {
    width: 48%;
    height: 48%;
    background-color: #fafafa;
  }
}

@media screen and (min width 575px) {
  .preview.madrid {
    background-image: url("/images/madrid.jpg");
    background-size: cover;
    height: 300px;
    width: 48%;
    margin: 0 0 2% 0
  }
}
